{% extends 'poetry/base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid p-5" style="font-size: large;">
    
   
<div class="row">

    <div class="jumbotron-fluid" style="align-content: center;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"
            {% endif %} >
            {{message}}
        </li>
        {% endfor %}

        </ul>

        {% endif %}
    </div>

    <div class="col-md-12 p-5">
            <h2 class="title" style="text-align: center;"><b>Love Poems</b></h2>

            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <!-- {% csrf_token %}
                {{ form|crispy }} -->
                

                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
            </form>


            <div class="container-fluid">
                <div class="row">
                    {% for lovePoems in lovePoems %}
                    <div class="col-md-3 mb-4 p-2">
                        <div class="card">
                            
                            <img class="card-img-top view-overlay-zoom" height="300px" src="{{lovePoems.image.url}}" alt="Card image cap">
                           
                            <div class="card-body" height="300px">
                                <p class="card-text"><strong>Title : </strong>{{lovePoems.title}}</p>
                                <p class="card-text"><strong>Post : </strong>{{lovePoems.post}}</p>
                                
                                <p class="card-text"><strong> Posted date : </strong>{{lovePoems.pub_date}}</p>
            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

           